/*
Author :nithyannad
Theme :Food oder website 
version :1.0
*/

*{
margin:0;
padding:0;
font-family:Arial,Helvetica,sans-serif;
}
.wrapper{

/* border: 2px solid rgb(73, 39, 39);
   */ 
   padding:1%;
    width:80%;
    margin:0 auto;
}

.text-center{
    text-align:center;
}

.clearfix{

    float:none;
    clear:both;
}

/* Manu Selection  */

.menu{

    border-bottom: 1px solid gray;
}


.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 2%;
}


.menu ul li a {
    text-decoration: none;
    font-weight:bold;
    color:#ffa502;
    }

.menu ul li a:hover{
    color:#3742fa;

}

.tbl-full{
    width: 100%;
}
table tr th{
border-bottom: 1px solid black;
padding: 1px;
text-align: left;

}

table tr td{
    padding: 1%;

}

/* Button  */

.btn-primary{
    background-color: #3742fa;
    padding: 1%;
    color:white;
    text-decoration: none;
    font-weight:bold;
}
.btn-primary:hover{
    background-color: #ff4757;
}


.btn-secondary{
    background-color: #ffa502;
    padding: 1%;
    color:white;
    text-decoration: none;
    font-weight:bold;
}
.btn-secondary:hover{
    background-color: #2ed573;
}

.btn-danger{
    background-color: #eb2f06;
    padding: 1%;
    color:white;
    text-decoration: none;
    font-weight:bold;
}
.btn-danger:hover{
    background-color: #3c6382;
}

/*  css for main-contant*/
.main-contant{
    
    background-color: #a4b0be;
    padding:2% 0;
}

.col-4{
    width:18%;
    background-color: white;
    margin:1%;
    padding:2%;
    float:left;
}




/*CSS For Footer*/
.footer{
    background-color: #ff4757;
    color:white;

}